<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css">
	<title>About page</title>
</head>
<body>
	<h1>Who was A. von H. ?</h1>
	<img src="/images/Alexander Humboldt.jpeg" alt="Alexander">
    <p>Friedrich Wilhelm Heinrich Alexander von Humboldt (* 14 September 1769 in Berlin; † 6 May 1859 Ebenda.) was a German explorer <br>
       whose sphere of influence extended far beyond Europe.
       In his complete works, written over a period of more than seven decades, <br>
       he created "a new state of knowledge and reflection of the knowledge of the world" 
       and became the co-founder of geography <br>
       as an empirical science.</p>
	<a href="/">Home</a>
	<a href="/works">See Works</a>
</body>
</html>