<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css">
	<title>Photogallery page</title>
</head>
<body>
	<h1>Photogallery</h1>
    <div class="photogallery">
	<img src="/images/Map_Alexander_von_Humboldt_expedition-de_2000px-e1598446929685.webp" alt="photomap">
    <img src="/images/250-jahre-humbold_073cbpk-stiftung-preussische-schloesser-und-gaerten-hermann-buresch.webp" alt="painting">
	</div>
    <a href="/">Home</a>
	<a href="/about">About</a>
</body>
</html>