<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css">
	<title>Works page</title>
</head>
<body>
    <div id="flexbox-container">
	<h1>Works</h1>
    <div id="items">
	<img src="/images/Kosmos2.webp" alt="Kosmos">
    <img  src="/images/mapHUmboldt.jpeg" alt="Map">
    <img src="/images/moreHumboldt.webp" alt="Map1">
    </div>
    <p>"I have the great idea of presenting the whole material world, everything we know today about the phenomena of the celestial spheres, <br>
        from the nebula stars to the geography of the mosses on the granite rocks, all in one work, and in a work that at the same time stimulates <br>
        and delights the mind in lively language. Every great and important idea that flares up somewhere must be recorded here alongside the facts."</p>
    <a href="/">Home</a>
	<a href="/photogallery">Photogallery</a>
    </div>
</body>
</html>